.logo{
	width: 33%;
}

.container-fluid {
	width: 100%;
}

.banner {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(https://images.unsplash.com/photo-1547105484-2871e57056f8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px 50px;
}

.banner-content {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 100px 700px 0px 15px;
}

.banner-content button {
  margin: 50px 0px;
}  

.partie-une-a h2 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.partie-une-a h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.partie-une-a img {
  width: 30%;
}

.portraits {
  display: flex;
  justify-content: center;
}

.partie-une-b h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.paysages {
  display: flex;
  justify-content: center;
}

.partie-une-b img {
  width: 20.5%;
}

.partie-une-c h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.vacances {
  display: flex;
  justify-content: center;
}

.partie-une-c img {
  width: 27%;
}

hr {
  height: 1px;
  margin: 2rem 110px;
}

.partie-deux h2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

iframe {
  display: flex;
  justify-content: center;
  margin: auto;
}
