/* Navbar */

.logo{
	width: 33%;
}

.container-fluid {
	width: 100%;
}

/* Bannière */

.banner {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(https://images.unsplash.com/photo-1547105484-2871e57056f8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px 50px;
}

.banner-content {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 100px 600px 0px 15px;
}

.banner-content button {
  margin: 50px 0px;
}  

/* Première partie a */

.partie-une-a h2 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.partie-une-a h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.partie-une-a img {
  width: 30%;
}

.images {
  display: flex;
  justify-content: center;
}

/* Première partie b */

.partie-une-b h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.partie-une-b img {
  width: 25%;
}

/* Première partie c */

.partie-une-c h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.partie-une-c img {
  width: 30%;
}

hr {
  height: 1px;
  margin: 2rem 110px;
}

/* Deuxième partie */

.partie-deux h2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

iframe {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* Footer */

hr {
  height: 1px;
  margin: 2rem 110px;
}

a {
  color: #41464b;
}

/* Responsive */

@media screen and (max-width: 600px) {

  .banner {
    padding: 30px 25px;
    height: 500px;
    width: 100%;
  }

  .banner-content {
    margin: 20px 50px 0px 15px;
    font-size: small;
  }

  .banner-content button {
    margin: 10px 0px;
  }

  iframe {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 300px;
  }

}

@media screen and (max-width: 1024px) {

  .banner {
    padding: 50px 50px;
    height: 600px;
    width: 100%;
  }

  .banner-content {
    margin: auto;
    font-size: small;
  }

  .banner-content button {
    margin: 5px 0px;
  }

}