/* Navbar */

.logo{
	width: 33%;
}

.container-fluid {
	width: 100%;
}

/* Bannière */

.banner {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px 50px;
}

.banner-content {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 100px 700px 0px 15px;
}

.banner-content button {
  margin: 50px 0px;
}  

/* Première partie */

.partie-une-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.card {
  margin: auto;
  border-color: black;
  border-width: medium;
  border-radius: 20px;
}

.partie-une-a h3 {
  margin-top: 40px;
}

.partie-une-a img {
  margin: auto;
}

/* Deuxième partie */

.partie-une-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.partie-une-b embed {
  margin: auto;
}

hr {
  height: 1px;
  margin: 2rem 110px;
}

.partie-deux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.partie-deux iframe {
  margin: auto;
}

.partie-deux embed {
  margin: auto;
}

 .monogramme {
 	display: flex;
 	text-align: center;
 }

/* Troisième partie */

 .partie-trois {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

/* Footer */

a {
  color: #41464b;
}

/* Responsive */

@media screen and (max-width: 600px) {

  .banner {
    padding: 30px 25px;
  }

  .banner-content {
    margin: 20px 50px 0px 15px;
    font-size: small;
  }

  .banner-content button {
    margin: 10px 0px;
  }

  iframe {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 300px;
  }

}

@media screen and (max-width: 1024px) {

  .banner {
    padding: 50px 35px;
    height: 700px;
    width: 100%;
  }

  .banner-content {
    margin: auto;
    font-size: medium;
  }

  .banner-content button {
    margin: 5px 0px;
  }

  embed {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: 300px;
  }

}


